/* 3D Cube Symbol - Static CSS */
/* Figma node: 1:102 (GREEN cube) */
/* viewBox: 0 0 73.0164 53.4374 */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#component-container {
    width: 73px;
    height: 54px;
    position: relative;
    overflow: hidden;
}

.symbol-svg {
    display: block;
    width: 100%;
    height: 100%;
}
